.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(30px, 3vw, 41px);
  padding: 20px;
  mix-blend-mode: difference;
  color: white;
  width: 100vw;
  z-index: 10;

  h1 {
    font-size: inherit;
  }

  button {
    font: inherit;
  }

  .nav__desktop {
    display: block;
  }

  .nav__mobile {
    // display: none;
    text-align: right;

    nav {
      display: flex;
      flex-direction: column;
      a {
        cursor: pointer;
      }
    }
  }

  // @include media-lg {
  // .nav__desktop {
  //   display: none;
  // }
  // .nav__mobile {
  //   display: block;
  // }
  // }

  @include media-md {
    padding: 20px 10px;
  }
}

.section {
  height: 100vh;
  min-height: 800px;
  padding: 10px 50px;
  position: relative;
  // scroll-snap-align: start;

  &__inner {
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .bc {
    width: 100%;
    padding-left: calc(164px + 80px);
  }

  @include media-lg {
    .bc {
      padding-left: calc(clamp(40px, 13.5vw, 164px) + 40px);
    }

    &__content {
      justify-content: flex-start;
    }
  }

  @include media-md {
    height: auto;
    min-height: 100vh;

    .bc {
      height: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.section__heading {
  font-size: clamp(40px, 12vw, 82px);
  position: absolute;
  top: 0;
  height: 100%;
  width: 1em;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    font-size: inherit;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
  }

  @include media-md {
    position: relative;
    width: unset;
    height: unset;
    margin-bottom: 50px;

    h2 {
      position: relative;
      top: unset;
      left: unset;
      transform: unset;
      text-align: center;
    }
  }
}

.section--hero {
  height: 56.5vw;
  max-height: 100vh;
  min-height: unset;
  padding: 20px;
  background-color: black;

  video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  @include media-sm {
    height: 100vh;
  }
}

.section--text {
  height: unset;
  max-height: unset;
  min-height: unset;
  padding: 60px 120px 60px 60px;

  @include media-lg {
    padding: 40px 60px 40px 40px;
  }

  @include media-md {
    padding: 50px 16px 50px;
  }
}

.section--text-image {
  .section__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    > div:nth-child(1) {
      display: none;
      height: 100%;
    }

    > div:nth-child(2) {
      width: 100%;
    }

    @media (min-width: 1200px) {
      > div:nth-child(1) {
        display: block;
        width: 50%;
      }

      > div:nth-child(2) {
        width: 50%;
        padding-left: 0;
      }
    }
  }

  .section--text__image {
    padding: 0 50px 0 100px;
  }
}

.section--gallery {
  max-height: 33.333vw;
  min-height: unset;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .gallery {
    width: 100%;
    height: 100%;
  }

  @include media-sm {
    max-height: 100vh;
  }
}

.section--links {
  height: unset;
  min-height: unset;

  padding: 60px 120px 60px 60px;

  .bc {
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 clamp(30px, 10vw, 140px);
    padding-left: calc(164px + 80px);

    > a {
      font-size: clamp(20px, 3vw, 41px);
      margin-right: auto;
    }
  }

  @include media-xl {
    .links {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include media-lg {
    .bc {
      margin-bottom: 30px;
    }

    .links {
      padding-left: calc(clamp(40px, 13.5vw, 164px) + 40px);
    }
  }

  @include media-md {
    padding: 50px 16px 50px;

    .links {
      padding-left: 0;
      padding-right: 0;
    }

    .links a {
      text-align: center;
      width: 100%;
    }

    .bc {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.section--contact {
  height: unset;
  padding: 60px 120px 60px 50px;

  .section__content {
    font-size: clamp(20px, 3vw, 41px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      margin-top: 0.5em;
    }
  }

  @include media-lg {
    padding: 40px 60px 40px 30px;
  }

  @include media-md {
    padding: 50px 16px;
    min-height: unset;

    .section__content {
      position: relative;
      transform: unset;
      left: unset;
      top: unset;
    }
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;

  svg.footer__monogramMobile {
    width: 55px;
    display: none;
    margin: 0px auto 50px;
  }

  &__quotes {
    width: 100vw !important;
    margin: 60px 0;
  }

  &__quote {
    p {
      text-align: center;
      font-size: clamp(20px, 3vw, 41px);
      font-weight: 300;
    }
  }

  &__instagram {
    text-align: center;
    font-size: clamp(40px, 3vw, 95px);
    padding-left: 30px;
    padding-right: 30px;
  }

  &__credits {
    flex-grow: 1;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;

    > p {
      font-size: clamp(20px, 3vw, 41px);
      font-weight: 300;
      margin-bottom: 20px;
    }

    ul {
      display: flex;
    }

    li {
      line-height: 1;

      .t-faris {
        font-size: 19px;
        letter-spacing: 0.13em;
        text-transform: uppercase;
      }
      .t-wremena {
        font-size: 20px;
      }
    }
  }

  .footer__monogramDesktop {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    svg {
      width: 55px;
    }
  }

  @include media-xl {
    ul {
      flex-direction: column;
    }
  }

  @include media-lg {
    padding-top: 50px;
    padding-bottom: 50px;

    div.footer__monogramDesktop {
      bottom: 50px;
    }
  }

  @include media-md {
    div.footer__monogramDesktop {
      display: none;
    }
    svg.footer__monogramMobile {
      display: flex;
    }
  }
}
